* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 5px;
}

.sample {
	height: 150px;
	width: 150px;
	border: 2px solid blue;
	background-color: green;
}

#box1 {
	height: 150px;
	width: 150px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
	padding: 50px;
}

#box2 {
	height: 150px;
	width: 150px;
	border: 2px solid red;
	background-color: yellow;
	padding: 50px;
	display: inline-block;
	vertical-align: top;
}