/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*type class*/

body {
	font-family: 'Open Sans', sans-serif;'
}

nav {
	padding: .8rem;
	/*1 rem = 16px*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

footer {
	padding: 0.7 rem;
}

/*id*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2 rem;
	padding-bottom: 3 rem;
	text-align: center;

}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color:  white;
}

/*combinators*/

nav > ul {
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem	;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
} 

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer> div > * {
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}

footer span {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}