/*Activity:

Create a landing page for an e-commerce website:
	
	-Navbar with the following links:
		-Home
		-Products
		-Transactions
		-Cart

	-An introduction section with centered Text
		-must have a background color that does not conflict with overall theme.

	- A call to action button
		-A button inviting our users to check our products
		-button must have rounded corners.

	Note: You may refer or use the output as reference but do not completely copy.

	Note: Keep it SFW.

	Note: Personalize/Customize your work.

	Stretch Goals:

	Add featured products with images.
		-You may create cards that are in line with each other.*/

/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*type class*/

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;

/*	background-color: #cccccc;*/
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("background.jpeg");
    width: 100%;
    height: 100%;
    opacity : 0.15;
    z-index: -1;
}
nav {
	padding: .5rem;
	/*1 rem = 16px*/
	border-bottom: 1px solid gray;
}

img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	position: relative;
}


img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	z-index: 2;
}

/*id*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	background-color: #191716;
	color: white;

}

#succeed-info {
	padding-bottom: 1rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #39393A;
	color:  white;
}

#logo{
	height: 50px;
	width: 50px;
	border-radius: 25px;
}

/*class*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.nav-logo {
	text-align: center;
	vertical-align: middle;
}

/*combinators*/

nav > ul {
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro h2, #intro p {
	margin-bottom: 0.5rem;
}

#intro button {
	color: #131B23;
	font-weight: bold;
	background-color: #E9F1F7;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	margin-top: 1rem;
	text-align: center;
	margin-bottom: 1rem	;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
} 

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
footer span {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}